// Mobile
.header__size {
  background-color: #f7f7f7;
}
.header__left {
  display: none;
}

.header__right {
  display: flex;
  justify-content: space-between;
  text-align: center;
  & a {
    width: 50%;
    padding: 25px 40px;
    color: #363636;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

.header__logo img {
  display: block;
  margin: 0 auto;
}
.header__hotline-left,
.header__hotline-right {
  display: none;
}
.search--relative {
  position: relative;
  padding: 0 20px;
  max-width: 320px;
  margin: 0 auto;
}
.header__search input {
  max-width: 320px;
  display: block;
  margin: 0 auto;
  border-radius: 23px;
  width: 100%;
}
.header__search input[placeholder] {
  color: black;
  padding: 18px 0 18px 23px;
}
.header__search button {
  position: absolute;
  right: 10%;
  background-color: #fff;
  border: none;
  top: 32%;
}
.header__bg-menu {
  background-color: #252525;
  width: 100%;
}
// menu
.header__bottom {
  display: flex;
  justify-content: space-between;
}
.menu__icon a,
.header__cart a {
  padding: 20px 25px;
  display: block;
}
.menu {
  display: none;
}
.menu__link {
  font-size: 0.93333rem;
  color: #fff;
  padding: 1.93rem 0;
  text-align: center;
  background-color: #f5bd10;
  display: block;
  text-transform: uppercase;
}
.fa-shopping-cart {
  color: #fff;
  font-size: 1.2rem;
}
.menu__icon .fa-bars {
  color: #fff;
}
.header__cart--relative {
  position: relative;
}
.header__cart--absolute {
  position: absolute;
  background-color: #f5bd10;
  width: 24px;
  top: 8%;
  right: 6%;
  height: 24px;
  border-radius: 50%;
}

.header__cart--absolute p {
  padding: 8px;
}
// end Mobile

// desktop
@media screen and (min-width: 1024px) {
  .header__top {
    display: flex;
    justify-content: space-between;
    max-height: 3.33333rem;
    & .header__left {
      display: block;
      text-align: center;
      & i {
        font-size: 0.93333rem;
        width: 3.3333rem;
        padding: 1.2rem 0;
        &:hover {
          background-color: #f5bd10;
          color: #fff;
        }
      }
    }
    & .header__right {
      display: inherit;
      & a {
        width: 7.333333rem;
        padding: 1.2rem;
      }
    }
  }

  .header__main {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .header__hotline {
      display: flex;
      & .header__hotline-left {
        margin-right: 3.666667rem;
      }
      & .header__hotline-style {
        display: block;
        & h3 {
          color: #f5bd10;
          font-size: 0.933333rem;
          padding-bottom: 0.5rem;
        }
        & p {
          font-size: 0.866667rem;
          color: #898989;
        }
      }
    }
    & .header__search {
      width: 21.333333rem;
      & .search--relative {
        padding: 0;
      }
      & button {
        right: 3%;
      }
    }
  }
  .header__bg-menu {
    & .menu__icon {
      display: none;
    }
    & .header__cart {
      & a {
        padding: 1.66667rem;
      }
    }
    & .header__menu {
      & .menu {
        display: block;
        display: flex;
      }
      & .menu__item {
        & .header__menu__link {
          display: block;
          padding: 2rem;
          color: #fff;
          text-transform: uppercase;
          font-size: 0.933333rem;
          &:hover {
            background-color: #f5bd10;
          }
        }
      }
    }
  }
}
// end desktop
