header
    .header
        .header__size
            .header__top
                .header__left
                    i.fab.fa-facebook-f
                    i.fab.fa-google-plus-g
                    i.fab.fa-instagram
                    i.fab.fa-twitter
                .header__right
                    a(href="#") Đăng ký
                    a(href="#") Đăng nhập
        .header__main
            .header__logo
                img(src="../../images/header-logo.jpg", alt="Ảnh logo")
            .header__hotline
                .header__hotline-left
                    h3 HOTLINE
                    p (04) 9500 9650 - (04) 9500 8850
                .header__hotline-right
                    h3 ĐẶT HÀNG NHANH
                    p (04) 9500 9650 - (04) 9500 8850
                .header__search
                    .search--relative
                        input(type="text" placeholder="Tìm kiếm...")
                        button 
                            i.fas.fa-search
        .header__bottom
            .menu__icon
                a(href="#")
                    i.fas.fa-bars            
            nav.header__menu
                ul.menu
                    li.menu__item 
                        a.menu__link(href="homepage.html") trang chủ
                    li.menu__item 
                        a.menu__link(href="about.html") giới thiệu
                    li.menu__item 
                        a.menu__link(href="product.html") sản phẩm
                    li.menu__item 
                        a.menu__link(href="promotion.html") tin khuyến mãi
                    li.menu__item 
                        a.menu__link(href="service.html") dịch vụ
                    li.menu__item 
                        a.menu__link(href="contact.html") liên hệ
            .header__cart
                .header__cart--relative
                    a(href="#")
                        i.fas.fa-shopping-cart
                    .header__cart--absolute
                        p 0

